body {
    background-image: url(../img/fondo-de-pintura-de-acuarela-para-el-holi-festival.jpg);
    width: 80%;
    margin: 0 auto;
    color: #008080;
    text-align: center;
}

summary {
    font-size: 1.2em;
    font-weight: 900;
    color: #008080;
}

details {
    font-size: 1em;
    font-family: monospace;
    border-bottom: 3px solid #3AB09E;
    margin-bottom: 6em;

}

details p {
    margin-bottom: 2px;

}

label {
    display: inline-block;
    width: 14em;
    font-size: 2em;
}

h1 {
    font-size: 3em;
}

button {
    background-color: transparent;
    color: #008080;
    padding: 15px;
}

#resultado {
    font-size: 1.5em;
}